{% extends "layout.html" %}

{% set active_page = "detail" %}
{% block title %}AskMate - {{ question.title }}{% endblock %}

{% block body %}
<h2>{{ question.title }}</h2>
<hr>
<div class="container">
    <div class="side-left">
        <form action="{{ url_for('vote_question', qstn_id=question.id) }}" method="post">
            <button class="vote" name="vote" value="+1"><i class="fas fa-chevron-up"></i></button>
            <div class="vote-num">{{ question.vote_number }}</div>
            <button class="vote" name="vote" value="-1"><i class="fas fa-chevron-down"></i></button>
        </form>
    </div>
    <div class="mid">
        {% for line in question.message.splitlines() %}
        <p>{{ line|e }}</p>
        {% endfor %}
        {% if question.image %}
        <img src="{{ question.image }}" id="myImg" width="200px" alt="">
        {% endif %}
        <br>
        <form action="{{ url_for('post_comment_to_question', qstn_id=question.id) }}">
            <button type="submit" class="form-sub-comment"><span>Add a comment &nbsp;</span><i class="fas fa-comment"></i></button>
        </form>
        {% for comment in comments %}
            {% if comment.question_id == question.id %}
            <hr class="less">
            <div class="comment">
                <p>{{ comment.message|e }}</p>
                <div class="comment-data">
                    <p class="submission">{{- comment.submission_time|e -}}</p>
                    <form action="{{ url_for('edit_question_comment', qstn_id=question.id) }}" method="post" class="small-edit">
                        <input type="hidden" name="id" value="{{ comment.id }}">
                        <button type="submit" class="action-btn-comment"><i class="fas fa-edit"></i></button>
                    </form>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="side-right">
        <p class="label">asked</p>
        <p class="data">{{ question.submission_time }}</p>
        
        <p class="label">views</p>
        <p class="data">{{ question.view_number }}</p>

        <br>
        <form action="{{ url_for('edit_question') }}" method="post">
            <button type="submit" name="id" value="{{ question.id }}">
                <i class="fas fa-edit"></i> Edit</button>
        </form>
    </div>
</div>

<hr>
<div class="container">
    <div class="mid2">
        <h3>{{ question.answers_number|default(0) }} Answers</h3>
    </div>
    <div class="side-right">
        <form action="{{ url_for('post_answer', qstn_id=question.id) }}">
            <button type="submit" class="form-sub"><span>Post answer </span><i class="fas fa-comment"></i></button>
        </form>
    </div>
</div>
<hr>

{% for answer in answers %}
    <div class="container">
        <div class="side-left">
            <form action="{{ url_for('vote_answer', answ_id=answer.id) }}" method="post">
                <button class="vote" name="vote" value="+1"><i class="fas fa-chevron-up"></i></button>
                <div class="vote-num">{{ answer.vote_number }}</div>
                <button class="vote" name="vote" value="-1"><i class="fas fa-chevron-down"></i></button>
            </form>
        </div>
        <div class="mid">
            {% for line in answer.message.splitlines() %}
            <p>{{ line|e }}</p>
            {% endfor %}
            <br>
            <form action="{{ url_for('post_comment_to_answer', answ_id=answer.id) }}">
                <button type="submit" class="form-sub-comment"><span>Add a comment &nbsp;</span><i class="fas fa-comment"></i></button>
            </form>
            {% for comment in comments %}
                {% if comment.answer_id == answer.id %}
                <hr class="less">
                <div class="comment">
                    <p>{{ comment.message|e }}</p>
                    <div class="comment-data">
                        <p class="submission">{{- comment.submission_time|e -}}</p>
                        <form action="{{ url_for('edit_answer_comment', answ_id=answer.id) }}" method="post" class="small-edit">
                            <input type="hidden" name="id" value="{{ comment.id }}">
                            <button type="submit" class="action-btn-comment"><i class="fas fa-edit"></i></button>
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="side-right">
            <p class="label">answered</p>
            <p class="data">{{ answer.submission_time }}</p>
            
            <br>
            <form action="{{ url_for('edit_answer') }}" method="post">
                <input type="hidden" name="question_id" value="{{ question.id }}">
                <button type="submit" name="id" value="{{ answer.id }}"><i class="fas fa-edit"></i> Edit</button>
            </form>
        </div>
    </div>
    <hr>
{% endfor %}

{% endblock %}

{% block scripts %}

{% endblock %}
