{% extends "layout.html" %}

{% block body %}
<div class="profile">
    <h2>{{ mate.username }}</h2>
    <hr>
    <div class="profile_img">
        {% if mate.profile_pic != '' %}
            <img src="{{ mate.profile_pic }}">
        {% else %}
            <img src="{{ url_for('static', filename='images/profile.png') }}">
        {% endif %}
    </div>
    <div class="profile_data">
        <p>
            Registration date: {{ mate.registration_time }}<br>
            Reputation: {{ mate.reputation }}
        </p>
    </div>
</div>
{% endblock %}