{% extends "layout.html" %}

{% set title = "New Mate" %}

{% block title %}
    {{ "Askmate " + title }}
{% endblock %}

{% block body %}
<div class="form-container">
<h2>	Create New Mate, Mate: </h2>
<form action='/registration',  method="post">

<div class="row">
        <div class="col-25">
            <label for="username">What's Your name mate?</label>
        </div>
        <div class="col-75">
            <input type="text" id="username" name="username" class="full-width"
            placeholder="Name..." required>
        </div>
    </div>

    <!-- Image -->
    <div class="row">
        <div class="col-25">
            <label for="image">Profile picture path</label>
        </div>
        <div class="col-75">
            <input type="text" id="image" name="image" class="full-width"
            placeholder="Image path...">
        </div>
    </div>
    
    <div class="row">

    <button type="submit" class="confirm form-sub"><i class="fas fa-check"></i>Create</button>
    </div>
</form>
</div>
{% endblock %}
