<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Create New Mate, Mate: </title>
    </head>


    <body>

	       <h3>	Create New Mate, Mate: </h3>
         <form action='/registration',  method="post">
	          <h7>What's Your name mate? </h7><br/>
		        <input type="text" id="username" name="username" required><br/><br/>
		        
		        <h7>Image URL: </h7><br/r>
		        <input type="text" id="image" name="image"><br/><br/>
          <!-->  <input type="hidden" id="submisson_time" name=submisson_time value=datetime><br/><br/> </-->
	          <button type="submit">Create</button>
        </form>
	</pre>

    </body>
</html>
