{% extends "layout.html" %}

{% if form_type == "new" %}
    {% set active_page = "ask_question" %}
    {% set title = "Ask a question" %}
    {% set query = url_for('modify_question_database') %}
{% elif form_type == "edit" %}
    {% set active_page = "edit_question" %}
    {% set title = "Edit a question: id " + question.id|string %}
    {% set query = url_for('modify_question_database', qstn_id=question.id) %}
{% endif %}

{% block title %}
    {{ "Askmate " + title }}
{% endblock %}

{% block body %}
    <h2>{{ title }}</h2>
    <div class="form-container">
        <form action="{{ query }}" method="post">

            <!-- Title -->
            <div class="row">
                <div class="col-25">
                    <label for="title">Title</label>
                </div>
                <div class="col-75">
                    <input type="text" id="title" name="title" class="full-width"
                    placeholder="Ask question..." value="{{ question.title }}"
                    pattern=".{10,}" title="Question should be at least 10 characters long" required>
                </div>
            </div>

            <!-- Message -->
            <div class="row">
                <div class="col-25">
                    <label for="message">Question description</label>
                </div>
                <div class="col-75">
                    <textarea id="message" name="message" rows="5"
                    placeholder="Describe the question..." class="full-width">
                        {{- question.message -}}
                    </textarea>
                </div>
            </div>

            <!-- Image -->
            <div class="row">
                <div class="col-25">
                    <label for="image">Image path</label>
                </div>
                <div class="col-75">
                    <input type="text" id="image" name="image" class="full-width"
                    placeholder="Image path..." value="{{ question.image }}">
                </div>
            </div>

            <!-- User -->
            <div class="row">
                <div class="col-25">
                    <label for="mate_id">User name</label>
                </div>
                <div class="col-75">
                    <select id="mate_id" name="mate_id" class="narrow">
                        <option value {%- if question.mate_id is none %} selected{% endif %}>Anonymous</option>
                        {% for user in mates %}
                        <option value="{{ user.id }}"
                        {%- if user.id == question.mate_id %} selected{% endif %}>
                            {{- user.username -}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Submit button -->
            <div class="row">
                <button type="submit" class="confirm form-sub"><i class="fas fa-check"></i><span> {% if form_type == "edit" %}Submit{% else %}Create{% endif %}</span></button>
                <!-- <input type="submit" value="{% if form_type == "edit" %}Submit{% else %}Create{% endif %}"> -->
            </div>
            
        </form>
        {% if form_type == "edit" %}
        <div class="spacer"></div>
        
        <!-- Delete button -->
        <div class="">
            <div class="row">
                <form action="{{ url_for('delete_question') }}" method="post">
                    <button type="submit" name="id" value="{{ question.id }}"
                    class="confirm delete" onclick="return confirmation();">
                        <i class="fas fa-trash"></i><span> Delete</span>
                    </button>
                </form>
            </div>
        </div>
        {% endif %}            
        
    </div>
{% endblock %}
